@font-face {
    font-family: 'FZXBSJT';
    src: url('/addons/estate_lease_contract/static/src/fonts/FZXBSJT.TTF') format('truetype');
    font-weight: bold;
}

.my_header {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between;
}

.my_header .img {
    //grid-column: 1 / 2;
    max-width: 80px;
    max-height: 80px;
}

.my_header .number {
    //grid-column: 3 / 4;
    position: relative;
    font-size: 14px;
    //margin-right: 30px;
    flex-grow: 1;
    text-align: right;
    vertical-align: bottom;
    width: 70%;
    padding-top: 50px;
}
.title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h1.title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.greetings {
    font-family: '宋体', fangsong;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.report_paragraph {

    text-indent: 42px;
    font-family: '宋体', fangsong;
    font-size: 19px;
    line-height: 2;
}

.applicant_div {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.applicant_p {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-family: '宋体', fangsong;
    font-size: 19px;
}

.applicant_div .applicant_left {
    position: relative;
    font-family: '宋体', fangsong;
    width: 50%;
}
.applicant_div .applicant_right {
    position: relative;
    font-family: '宋体', fangsong;
    width: 10%;
}

.applicant_div .applicant {
    position: relative;
    font-family: '宋体', fangsong;
    font-size: 18px;
    text-align: right;
    align-items: end;
}
.my_footer {
    position: relative;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 12px;

}

.enter_exit_form_div {
    font-family: '宋体', fangsong;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 等分列，每列最小宽度100px */
    align-self: center;
    align-items: center; /* 垂直居中对齐 */
    font-size: 16px;
    //gap: 10px; /* 为单元格之间添加间隙 */
    /* 设置网格外部边框 */
    border-left: 2px solid black; /* 较粗的黑色边框 */
    border-right: 2px solid black; /* 较粗的黑色边框 */
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    box-sizing: border-box; /* 确保border和padding不会增加元素的总宽度 */
    vertical-align: middle;
}

.grid-line {
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-self: center;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
}

/* 定义网格内单元格的样式 */
.grid-item-left {
    /* 设置内部边框 */
    //padding: 3px; /* 添加内边距以防止内容与边框接触 */
    display: grid;
    text-align: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 0;
    border-bottom: 0;
    height: 100%;
    flex: 1 1 auto;
}

/* 定义网格内单元格的样式 */
.grid-item-right {
    /* 设置内部边框 */
    //padding: 3px; /* 添加内边距以防止内容与边框接触 */
    display: grid;
    text-align: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    border-top: 1px solid black;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    height: 100%;
    flex: 1 1 auto;
}

.estate_report {
  direction: ltr;
  width: 610px;
  height: 1035px;
  margin: var(--page-margin);
  position: relative;
  overflow: visible;
  border: var(--page-border);
  -o-border-image: var(--page-border-image);
     border-image: var(--page-border-image);
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 1);
}

.estate_report.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.estate_report.h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.estate_report.div.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.estate_report.div.h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.div.estate_report.div.h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.div.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.div.h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.div.div.h1.report_title {
    font-family: 'FZXBSJT', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.o_event_venue_id_cell {
    width: 33% !important;
}
